<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Post</title>
    <style>
        li {
            list-style: none;
            font-size: 1.5rem;
        }

        a {

            text-decoration: none;
            background-color: mediumpurple;
            border-radius: 3px;
            color: whitesmoke;
            padding: 1px 10px;
            margin-bottom: 2rem;
        }

        a:hover {
            opacity: 0.9;
        }

        button {
            margin-top: 1rem ;
            text-decoration: none;
            background-color: mediumpurple;
            border-radius: 5px;
            color: whitesmoke;
            padding: 5px 10px;
            outline: none;
            border: none;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.9;
            transform: scale(1.1);
        }

    </style>
</head>
<body>
<h1 style="text-align: center">Edit Post</h1>
<a href="/posts">Back to all posts</a>
<form style="text-align: center" action="/posts/<%=post._id%>?_method=PUT" method="POST">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" id="username" placeholder="username" >
    <br>
    <label for="title">Title</label>
    <br>
    <input type="title" name="title" id="title" placeholder="title" value="<%=post.title%>">
    <br>
    <label for="text">Text</label>
    <br>
    <textarea name="text" id="text" cols="30" rows="5"><%=post.text%></textarea>
    <br>
    <button style="cursor: pointer">Submit</button>
</form>
</body>
</html>
