<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Post</title>
</head>
<body>
<h1 style="text-align: center">All User Post</h1>
<main style="text-align: center">
    <%for (let post of posts) {%>
        <h3><%=post.username%></h3>
        <p><%=post.title%></p>
<label for="postText"></label>
<textarea name="postText" id="postText" cols="40" rows="5">
    <%=post.text%>
</textarea>
    <%}%>
    <br>
    <a href="/posts/new">Create New Post</a>
</main>
</body>
</html>
